html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    color: white;
}

h1 {
    margin-top: 5px;
    color: hsl(179, 62%, 43%);
}

h3 {
    color: hsl(71, 73%, 54%);
}

.card {
    background-color: white;
    margin: auto;
    margin-top: 150px;
    width: 650px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.75);
}

.top-card-section {
    margin: 30px 35px;
}

.top-card-section>p {
    color: hsl(218, 22%, 67%);
}

.subscription-container {
    display: flex;
}

.subscription {
    flex: 50%;
    padding: 20px 20px 20px 40px;
    background-color: hsl(179, 59%, 40%);

}

.subscription>p {
    color: hsl(220, 35%, 90%);
    opacity: 0.8;
    font-weight: 400;
}

.why-us {
    color: hsl(220, 35%, 90%);
    flex: 50%;
    padding: 20px;
    padding-left: 40px;
    background-color: hsl(179, 62%, 43%);
}

.why-us>p {
    line-height: 1.8px;
}

.why-us>h2 {
    color: white;
}

ul {
    list-style: none;
    /* margin: 0; */
    padding: 0;
    opacity: 0.8;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

button:hover {
    background-color: hsl(71, 56%, 53%);
    cursor: pointer;
    transform: scale(1.02);
}

.price-container {
    display: flex;
}

.price {
    font-size: 1.4rem;
    padding-right: 5px;
}

.frequency {
    margin: auto 0;
    color: hsl(218, 20%, 71%);
}